{
  "extends": [
    "../../.eslintrc",
    "airbnb-typescript/base",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-tsdoc"
  ],
  "rules": {
    "tsdoc/syntax": "warn",
    "@typescript-eslint/array-type": ["error", "generic"]
  }
}
